<center><h1>Welcome to my Profile</h1>

{{dataFromOurDatabase}}

	<img src="{{this.url}}" alt="" height='300px' width='300px'/>
	<h2>{{this.username}}</h2>
	<p>{{this.about}}</p>

<!-- kind of lost as to why my code won't show up, I've tried a lot and the picture outline is there and the styling is suppose to be there, but I'm not sure where to go from here on troubleshooting -->

</center>
<br>

<center><h2>Please go to /login or /register to either login to your account or register your new username and password</h2></center>