<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/styles/styles.less">
</head>
<body>

{{{body}}}




<script src='/server/app.js'></script>

</body>
</html>