<center><h1>Login here!</h1>

<form action="/login" method="POST">
	<input type="text" placeholder="Your username" name="username"/>
	<input type="text" placeholder="Your password" name="password"/>
		<input type="submit" value="Sign up"/>
</form></center>

<center><h2>Please go to /register to register your account or /home to return to the home page</h2></center>

