<center><h1>Register here!</h1>

<form action="/register" method="POST">
	<input type="text" placeholder="Your username" name="username"/>
	<input type="text" placeholder="Your password" name="password"/>
		<input type="submit" value="Register"/>
</form>

{{#each userData}}


{{/each}}

<br>

<center><h2>Please go to /login or /home to either login to your account or return to the home page</h2></center>